.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label{
        margin-bottom: .8rem;
    }
    input{
        padding: .8rem;
        outline: none;
        border-radius: .3rem;
        border: .3px solid grey;
        font-size: 1rem;
        // box-shadow: 0 0 .5rem rgb(232, 230, 230);

        &:focus{
            border: 3px solid rgba(242, 202, 90, .5);
        }
    }
}