.home {
	.about {
		position: relative;
		padding: 4rem 0;
		background-color: var(--bg-primary);

		.blue-box {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 40%;
			height: 70%;
			background-color: var(--bg-primary-variant);
		}

		.about-box {
			position: relative;
			width: 80%;
			margin: 0 auto;

			.img {
				// width: 80%;
				// height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #e2e2ea;
				padding: 1rem;

				img {
					width: 70%;
				}
			}

			.about-desc {
				p {
					font-weight: 200;
					font-size: 1rem;
					color: black;
				}

				h2 {
					font-size: 2rem;
					margin: 1rem 0;
				}
			}
		}
	}

	.featured-product {
		padding: 2rem 0;
		background: var(--bg-primary);

		.container {
			width: 80%;
			margin: 0 auto;
			h1 {
				font-size: 2rem;
				margin-bottom: 2rem;
			}

			.featured-items {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 2rem;

				.featured-item {
					position: relative;
					box-shadow: 0 0 1rem rgb(232, 234, 235);
					transition: 500ms all ease;
					border-radius: 0.5rem;

					&:hover {
						transform: scale(1.02);
					}
					img {
						border-radius: inherit;
						width: 100%;
						object-fit: cover;
					}
					.desc {
						position: absolute;
						bottom: 10%;
						left: 10%;
						color: white;
						font-size: 1.5rem;
					}
				}
			}
		}
	}

	.testimonials{
		background-color: white;
		padding: 2rem 0;
		.container{
			width: 80%;
			margin: 0 auto;
			text-align: center;
			h4{
				color: #c2c2c4;
				font-size: 1.2rem;
			}
			h2{
				font-size: 2rem;
				margin-bottom: 1rem;
			}

			.items{
				.mySwiper{
					padding: 2rem 0;
				}
				.item{
					// width: 50%;
					p{
						font-size: 1.2rem;
						font-weight: 400;
						margin-bottom: 1rem;
					}
					.customer{
						font-size: 1.2rem;
						display: flex;
						.customer-info{
							margin-left: 1rem;
							.title{
								font-weight: 200;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 930px) {
	.home {

		.featured-product {
			.container {
				h1{
					font-size: 1.5rem;
				}
				.featured-items {
					.featured-item {
						.desc {
							font-size: 1rem;
						}
					}
				}
			}
		}

		.testimonials{
			.container{
				width: 90%;
				h4{
					font-size: 1rem;
				}
				h2{
					font-size: 1.5rem;
				}

				.items{
					.item{
						p{
							font-size: .8rem;
							font-weight: 300;
						}
						.customer{
							.customer-info{
								.name{
									font-size: 1rem;
								}
								.title{
									font-size: .8rem;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 820px) {
	.home {
	}
}

@media screen and (max-width: 500px) {
	.home {
		.about {
			padding: 2rem 0;
			.blue-box {
				height: 50%;
			}

			.about-box {
				width: 90%;

				.about-desc {
					h2 {
						font-size: 1.3rem;
					}
				}
			}
		}

		.featured-product {
			.container {
				h1{
					font-size: 1rem;
				}
				.featured-items {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}
	}
}
