.login{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;

    .form-place{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 12rem;
        // align-items: center;

        h1{
            font-size: 2rem;
        }
        p{
            color: rgb(136, 135, 135);
            margin: 1.5rem 0 2.5rem;
        }

        form{
            .form-control{
                display: flex;
                gap: .8rem;
                align-items: center;
                font-size: .9rem;
                color: grey;
            }
            .cta{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }

        .options{
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;

            a{
                color: rgb(16, 16, 153);
            }
        }
    }

    .design-place{
        background-color: #F3F5F9;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .circle{
            background-color: var(--color-primary);
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
        .blur{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
            // background-color: red;
            background-color: rgba(169, 165, 165, .1);
            backdrop-filter: blur(1rem);
            width: 320px;
            height: 160px;
            border-radius: 0 0 160px 160px;
        }
    }
}

@media screen and (max-width: 1224px) {
    .login{
        .form-place{
            padding: 0 6rem;
        }
    }
}


@media screen and (max-width: 1024px) {
    .login{
        .design-place{
            .circle{
                height: 160px;
                width: 160px;
            }
            .blur{
                width: 280px;
                height: 140px;
                border-radius: 0 0 140px 140px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .login{
        display: flex;
        flex-direction: column-reverse;
        .form-place{
            display: block;
            padding: 3rem;
            min-height: 70vh;
        }

        .design-place{
            height: 30vh;
            .circle{
                height: 100px;
                width: 100px;
            }
            .blur{
                width: 160px;
                height: 80px;
                border-radius: 0 0 80px 80px;
            }
        }
    }
}